*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar{
    background-color: rgb(9, 9, 29);
    color: white;
    display:flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
    height: 70px;

}
.navbar a{
    color: rgb(116, 109, 109);
    text-decoration: none;
}
.logo a{
    color:white;
    font-weight: bold;
}
.navbar a:hover{
    color:white;
}
.new-list{
    list-style-type: none;
    color: rgb(89, 91, 94);
}

.new-list .list-items{
    display: inline-block;
}

.list-items{
    margin-left: 50px;
}
.iconbtn{
    margin-left: 25px;
    border-style:hidden;
    
}

.fa{
    padding: 10px;
    font-size: 25px;
    background-color: rgb(9, 9, 29);
    color: white;
    
}
.fa:hover{
    color: rgb(9, 9, 29);
    background-color: white;
}